<h1>Editing test pundit</h1>

<%= render "form", test_pundit: @test_pundit %>

<br>

<div>
  <%= link_to "Show this test pundit", @test_pundit %> |
  <%= link_to "Back to test pundits", test_pundits_path %>
</div>
